
Button{
	-fx-background-color: #4f5b62;
	-fx-background-radius: 10;
	-fx-text-fill: #f4f4f4;
}
Button:hover {
    -fx-background-color: #62727b !important;
    -fx-text-fill: #4db6ac;
    
}
Rectangle{
	-fx-effect: dropshadow(gaussian, black, 18, 0, 0, 0);
	
}

